<div class="container">
  <div class = "row">
    <%= form_tag "/books/new", method: :post do %>
      <div class="col-sm-3">
        <div class="genre-choices">
          <div><%= radio_button_tag :genre, "fantasy" %> Fantasy</div>
          <div><%= radio_button_tag :genre, "fiction" %> Fiction</div>
          <div><%= radio_button_tag :genre, "ya" %> Young Adult</div>
          <div><%= radio_button_tag :genre, "romance" %> Romance</div>
          <div><%= radio_button_tag :genre, "paranormal-urban-fantasy" %> Paranormal Urban Fantasy</div>
          <div><%= radio_button_tag :genre, "graphic-novels-comics" %> Graphic Novels</div>
          <div><%= radio_button_tag :genre, "memoir" %> Memoir</div>
          <div><%= radio_button_tag :genre, "history" %> History</div>
        </div>
      </div>
      <div class = "col-sm-5">
        <%= image_submit_tag "android.png", class: "robot img-responsive" %>
      </div>
    <% end %>
    <div class="col-sm-4">
      <% if @book != nil %>
        <div class="book">
          <%= image_tag @book.image_url, class: "img" %>
          <div>
            <h3><%= @book.title %></h3>
            <strong><%= @book.author %></strong>
            <div>Goodreads Average Rating: <%= @book.rating %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
